table(width="600" align="center" class="mobile-table" bgcolor="#ffffff")&attributes(tableAtt)
  tr
    +hSpacer(35)
    td 
      table(width="100%" align="center" class="mobile-table" )&attributes(tableAtt)
        tr 
            td(align="center" valign="top")
                font(class="f14 color-red f_bold").
                    !{content5.text1} 
        +vSpacer(20)
        tr 
            td(align="center" valign="top")
                a(href="https://www.hcp.novartis.com/products/scemblix/ph-cml/unmet-needs-in-cml/" target="_blank")
                    img(src=img_path+"click_here.png" alt="clickHere" width="170")
        +vSpacer(25)
        tr 
            td(align="left" valign="top")
                font(class="f11").
                    !{content5.text2} 
        +vSpacer(20)
        tr 
            td(align="left" valign="top")
                font(class="f11 ").
                    !{content5.text3} 
        +vSpacer(20)
        tr
            td(align="center" valign="top") 
                table(width="100%" align="center" class="mobile-table" )&attributes(tableAtt)
                    tr
                        td(align="center" valign="top" bgcolor="#595454" height="1" style="font-size:0px;") &nbsp;)
        +vSpacer(30)
        tr 
            td(align="left" valign="top")
                font(class="f14 ").
                    !{content5.text4} 
        +vSpacer(30)
        tr
            td(align="center" valign="top") 
                table(width="100%" align="center" class="mobile-table" )&attributes(tableAtt)
                    tr
                        td(align="center" valign="top" bgcolor="#595454" height="1" style="font-size:0px;") &nbsp;)
        +vSpacer(30)
        tr 
            td(align="left" valign="top")
                font(class="f14 ").
                    !{content5.text5} 
        +vSpacer(30)
        tr 
            td(align="left" valign="top")
                font(class="f14 ").
                    !{content5.text6} 
        +vSpacer(30)
        tr 
            td(align="left" valign="top")
                font(class="f14 ").
                    !{content5.text7} 
        +vSpacer(30)
        tr 
            td(align="left" valign="top")
                font(class="f14 ").
                    !{content5.text8} 
        +vSpacer(30)
    +hSpacer(30)
    