table(width="600" align="center" class="mobile-table" bgcolor="#ffffff")&attributes(tableAtt)
  tr 
    td 
      table(width="100%" align="center" class="mobile-table")&attributes(tableAtt)
        tr
          +hSpacer(30).mobile-hide
          +hSpacer(10).mobile-show
          td 
            table(width="100%" align="center" class="mobile-table" bgcolor="#EDEEEF")&attributes(tableAtt)
              +vSpacer(10)
              tr
                td 
                  table(width="100%")&attributes(tableAtt)
                    tr  
                      +hSpacer(90).mobile-hide
                      +hSpacer(10).mobile-show
                      td(align="left" valign="top")
                          table(width="100%" align="center" class="mobile-table")&attributes(tableAtt)
                              tr 
                                  td(align="center" valign="top")
                                      font(class="f12 tuna").
                                          !{content1.text1} 
                              +vSpacer(5)
                              tr 
                                  td(align="center" valign="top").mobile-hide
                                      img(src=img_path+"24.png" alt="24" width="154")
                                  td(align="center" valign="top").mobile-show
                                      img(src=img_path+"24.png" alt="24" width="124")
                              tr 
                                  td(align="center" valign="top")
                                      font(class="f12 tuna").
                                          !{content1.text2} 
                      +hSpacer(33).mobile-hide
                      td(align="left" valign="top")
                          table(width="100%" align="center" class="mobile-table")&attributes(tableAtt)
                              tr 
                                  td(align="center" valign="top")
                                      font(class="f12 tuna").
                                          !{content1.text3} 
                              +vSpacer(5)
                              tr 
                                  td(align="center" valign="top").mobile-hide
                                      img(src=img_path+"15.png" alt="15" width="154")
                                  td(align="center" valign="top").mobile-show
                                      img(src=img_path+"15.png" alt="15" width="124")
                              tr 
                                  td(align="center" valign="top")
                                      font(class="f12 tuna").
                                          !{content1.text4} 
                      +hSpacer(90).mobile-hide
                      +hSpacer(10).mobile-show
              +vSpacer(10)
          +hSpacer(30).mobile-hide
          +hSpacer(10).mobile-show