table(width="600" align="center" class="mobile-table" bgcolor="#ffffff")&attributes(tableAtt)
  tr
    td(align="left" valign="top")
      table(width="100%" align="center")&attributes(tableAtt)
        tr 
          +hSpacer(30).mobile-hide
          +hSpacer(10).mobile-show
          td 
            table(width="100%" align="center" class="mobile-table" )&attributes(tableAtt)
              tr
                td(align="left" valign="top").mobile-hide
                  a(href="https://ad.doubleclick.net/ddm/trackclk/N7437.1785838DMDCONNECTS.COM/B26911126.339673727;dc_trk_aid=532028514;dc_trk_cid=174409617;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;ltd=?https://www.novartis.us/about-us" target="_blank")
                    img(src=img_path+"logo.png" alt="logo" width="177")
              <!--[if !mso]><!-->
              tr
                td(align="center" valign="top").mobile-show
                  table(width="100%" align="center")&attributes(tableAtt)
                    tr 
                      td(align="center" valign="top")
                        a(href="https://ad.doubleclick.net/ddm/trackclk/N7437.1785838DMDCONNECTS.COM/B26911126.339673727;dc_trk_aid=532028514;dc_trk_cid=174409617;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;ltd=?https://www.novartis.us/about-us" target="_blank")
                                img(src=img_path+"logo.png" alt="logo" width="177")
              <!--<![endif]-->
              +vSpacer(35)
          +hSpacer(30).mobile-hide
          +hSpacer(10).mobile-show
table(width="600" align="center" class="mobile-table" bgcolor="#ffffff")&attributes(tableAtt)
  tr
    td(align="left" valign="top")
      table(width="100%" align="center" class="mobile-table" )&attributes(tableAtt)
        tr
          +hSpacer(30).mobile-hide
          +hSpacer(10).mobile-show
          td 
            table(width="100%" align="center" class="mobile-table" )&attributes(tableAtt) 
              tr
                td(align="left" valign="top").mobile-hide
                  table(width="100%" align="center" class="mobile-table" )&attributes(tableAtt)
                    tr
                      td(width="40")
                      td(align="left" valign="top")
                          font(class="f12 ").
                              !{footer.text1}
                      td(width="4%") &nbsp;
                      td(align="left" valign="top")
                          font(class="f12 ").
                              !{footer.text2}
                      td(width="4%") &nbsp;
                      td(align="left" valign="top")
                          font(class="f12 ").
                              !{footer.text3}
                      td(width="4%") &nbsp;
                      td(align="right" valign="top")
                          font(class="f12 ").
                              !{footer.text4}
                        
              <!--[if !mso]><!-->
              tr
                td(align="center" valign="top").mobile-show
                  table(width="100%" align="center" class="mobile-table" )&attributes(tableAtt)
                    tr 
                      td(align="center" valign="top")
                        font(class="f14 ").
                          !{footer.text1}
                    +vSpacer(20)
                    tr 
                      td(align="center" valign="top")
                        table(width="100%" align="center")&attributes(tableAtt)
                          tr 
                            td(class="black p-m-mob" width="40%" align="left")
                              font(class="f14 ").
                                !{footer.text2}
                            td(width="7%") &nbsp;
                            td(class="black p-m-mob" align="left")
                              font(class="f14 ").
                                !{footer.text3}
                            td(width="6%") &nbsp;
                            td(class="black p-m-mob" align="right")
                              font(class="f14 ").
                                !{footer.text4}
                            td(width="1%")
              <!--<![endif]-->
              +vSpacer(25)
          +hSpacer(30).mobile-hide
          +hSpacer(10).mobile-show
